<ns-timeline>
  <h2 slot="heading">Tumblr lumbersexual yuccie</h2>
  <p slot="summary">Semiotics vegan put a bird on it banh mi banjo twee listicle.</p>
  <ns-timeline-event slot="event" status="completed" updated-at="2024-03-07T00:00:00">
    <h3 slot="heading">Blog kale chips gentrify</h3>
    <ns-card type="support">
      <h3 slot="heading">Cornhole</h3>
      <p slot="paragraph">Cronut polaroid scenester master cleanse, kogi jawn butcher cold-pressed messenger bag pabst asymmetrical try-hard chambray four loko wolf.</p>
    </ns-card>
  </ns-timeline-event>
  <ns-timeline-event slot="event" status="error">
    <h3 slot="heading">Mixtape keytar vape</h3>
  </ns-timeline-event>
  <ns-timeline-event slot="event" status="warning">
    <h3 slot="heading">Live-edge raw denim</h3>
  </ns-timeline-event>
  <ns-timeline-event slot="event" status="actionrequired">
    <h3 slot="heading">Typewriter normcore</h3>
  </ns-timeline-event>
  <ns-timeline-event slot="event" status="inprogress">
    <h3 slot="heading">Vexillologist etsy</h3>
    <p>Kombucha glossier whatever freegan.</p>
  </ns-timeline-event>
  <ns-timeline-event slot="event" status="pending">
    <h3 slot="heading">Migas air plant kickstarter </h3>
  </ns-timeline-event>
  <ns-timeline-event slot="event" status="cancelled" icon="gas">
    <h3 slot="heading">Cardigan unicorn fashion axe</h3>
  </ns-timeline-event>
</ns-timeline>
