<ns-inputter class="inline" heading="Which choice would you prefer?" helper="How can we help you?" validation="[&quot;isRequired&quot;]" name="radiobuttons">
  <div slot="tip-details">By providing clarification on why this information is necessary.</div>
  <input checked type="radio" name="radiobuttons" value="a" id="radio-01">
  <label for="radio-01">Choice A</label>
  <input type="radio" name="radiobuttons" value="b" id="radio-02">
  <label for="radio-02">Choice B</label>
  <input type="radio" name="radiobuttons" value="c" id="radio-03">
  <label for="radio-03">Choice C</label>
</ns-inputter>
