<nsx-address-selector 
  allow-manual-address 
  postcode="SL4 5GD" 
  addresses="[
    {&quot;houseNameNumber&quot;:35,&quot;addressLine1&quot;:&quot;Millstream&quot;,&quot;addressLine2&quot;:&quot;Maidenhead Rd&quot;,&quot;postalTown&quot;:&quot;Windsor&quot;,&quot;county&quot;:&quot;Berkshire&quot;,&quot;postcode&quot;:&quot;SL4 5GD&quot;,&quot;label&quot;:&quot;35 Millstream, Maidenhead Rd, Windsor, Berkshire, SL4 5GD&quot;},
    {&quot;houseNameNumber&quot;:37,&quot;addressLine1&quot;:&quot;Millstream&quot;,&quot;addressLine2&quot;:&quot;Maidenhead Rd&quot;,&quot;postalTown&quot;:&quot;Windsor&quot;,&quot;county&quot;:&quot;Berkshire&quot;,&quot;postcode&quot;:&quot;SL4 5GD&quot;,&quot;label&quot;:&quot;37 Millstream, Maidenhead Rd, Windsor, Berkshire, SL4 5GD&quot;},
    {&quot;houseNameNumber&quot;:39,&quot;addressLine1&quot;:&quot;Millstream&quot;,&quot;addressLine2&quot;:&quot;Maidenhead Rd&quot;,&quot;postalTown&quot;:&quot;Windsor&quot;,&quot;county&quot;:&quot;Berkshire&quot;,&quot;postcode&quot;:&quot;SL4 5GD&quot;,&quot;label&quot;:&quot;39 Millstream, Maidenhead Rd, Windsor, Berkshire, SL4 5GD&quot;},
    {&quot;houseNameNumber&quot;:41,&quot;addressLine1&quot;:&quot;Millstream&quot;,&quot;addressLine2&quot;:&quot;Maidenhead Rd&quot;,&quot;postalTown&quot;:&quot;Windsor&quot;,&quot;county&quot;:&quot;Berkshire&quot;,&quot;postcode&quot;:&quot;SL4 5GD&quot;,&quot;label&quot;:&quot;41 Millstream, Maidenhead Rd, Windsor, Berkshire, SL4 5GD&quot;},
    {&quot;houseNameNumber&quot;:43,&quot;addressLine1&quot;:&quot;Millstream&quot;,&quot;addressLine2&quot;:&quot;Maidenhead Rd&quot;,&quot;postalTown&quot;:&quot;Windsor&quot;,&quot;county&quot;:&quot;Berkshire&quot;,&quot;postcode&quot;:&quot;SL4 5GD&quot;,&quot;label&quot;:&quot;43 Millstream, Maidenhead Rd, Windsor, Berkshire, SL4 5GD&quot;}
  ]">
  </nsx-address-selector>
