<ns-footer>
  <ns-card slot="section" type="nav">
    <h2 slot="heading">Bodega boys</h2>
    <ul slot="paragraph">
      <li><a href="#!">Goth sriracha</a></li>
      <li><a href="#!">Mumblecore</a></li>
      <li><a href="#!">Austin poutine</a></li>
      <li><a href="#!">Echo park</a></li>
    </ul>
  </ns-card>
  <ns-card slot="section" type="nav">
    <h2 slot="heading">Mukbang</h2>
    <ul slot="paragraph">
      <li><a href="#!">Sartorial la croix </a></li>
      <li><a href="#!">Air plant</a></li>
      <li><a href="#!">Roof party</a></li>
      <li><a href="#!">Humblebrag</a></li>
    </ul>
  </ns-card>
  <ns-card slot="section" type="nav">
    <h2 slot="heading">Freegan subway</h2>
    <ul slot="paragraph">
      <li><a href="#!">Biodiesel</a></li>
      <li><a href="#!">Vexillologist</a></li>
      <li><a href="#!">Truffaut messenger</a></li>
      <li><a href="#!">Listicle</a></li>
    </ul>
  </ns-card>
  <ns-card slot="section" type="nav">
    <h2 slot="heading">Fit tofu messenger</h2>
    <ul class="app-links" slot="paragraph">
      <li><a href="#!"><img src="https://www.britishgas.co.uk/nucleus/images/apple-store.svg" alt="App for iPhone, iPad, and iPod touch" loading="lazy"></a></li>
      <li><a href="#!"><img src="https://www.britishgas.co.uk/nucleus/images/google-play.svg" alt="App for Android" loading="lazy"></a></li>
    </ul>
  </ns-card>
  <ns-card slot="section" type="nav">
    <h2 slot="heading">Lomo dreamcatcher</h2>
    <ul class="social-links" slot="paragraph">
      <li><a href="#!"><img src="https://www.britishgas.co.uk/nucleus/images/social-twitter.svg" alt="Twitter" loading="lazy"></a></li>
      <li><a href="#!"><img src="https://www.britishgas.co.uk/nucleus/images/social-facebook.svg" alt="Facebook" loading="lazy"></a></li>
      <li><a href="#!"><img src="https://www.britishgas.co.uk/nucleus/images/social-youtube.svg" alt="YouTube" loading="lazy"></a></li>
    </ul>
  </ns-card>
  <ns-card slot="section" type="nav">
    <h2 slot="heading">Edison bulb truffaut narwhal</h2>
    <div slot="paragraph">
      <button>
        <img src="https://www.britishgas.co.uk/nucleus/images/safespaces.svg" width="auto" height="100px" alt="Safe Spaces - UK says no more" loading="lazy">
      </button>
    </div>
  </ns-card>
</ns-footer>
