<ns-header
  primary="[{&quot;text&quot;:&quot;Praxis letterpress&quot;,&quot;href&quot;:&quot;#&quot;},{&quot;text&quot;:&quot;Vibecession&quot;,&quot;href&quot;:&quot;#&quot;},{&quot;text&quot;:&quot;Waistcoat&quot;,&quot;href&quot;:&quot;#&quot;},{&quot;text&quot;:&quot;Quinoa&quot;,&quot;href&quot;:&quot;#&quot;}]"
  secondary="[{&quot;text&quot;:&quot;Bitters banjo&quot;,&quot;href&quot;:&quot;/business&quot;},{&quot;text&quot;:&quot;Snackwave&quot;,&quot;type&quot;:&quot;button&quot;}]"
  secondary-banner="[{&quot;text&quot;:&quot;Shaman quinoa fixie waistcoat swag&quot;,&quot;link&quot;:{&quot;href&quot;:&quot;/&quot;,&quot;text&quot;:&quot;Gluten-free cronut&quot;}}]"
  menu-banner="[{&quot;text&quot;:&quot;Neutra ugh semiotics jean shorts synth.&quot;,&quot;link&quot;:{&quot;href&quot;:&quot;/&quot;,&quot;text&quot;:&quot;Polaroid prism&quot;}},{&quot;text&quot;:&quot;Banjo ugh paleo, typewriter etsy&quot;,&quot;link&quot;:{&quot;href&quot;:&quot;/&quot;,&quot;text&quot;:&quot;Shaman cred&quot;}},{&quot;link&quot;:{&quot;href&quot;:&quot;/&quot;,&quot;text&quot;:&quot;Ascot portland&quot;}},{&quot;link&quot;:{&quot;href&quot;:&quot;/&quot;,&quot;text&quot;:&quot;Poke gentrify&quot;,&quot;type&quot;:&quot;text&quot;}}]"
  type="simple">
</ns-header>
