<ns-accordion>
  <h3 slot="heading">Poke iceland cloud bread</h3>
  <ns-expander>
    <h4 slot="heading">Single-origin coffee meditation gochujang?</h4>
    <p>Blackbird spyplane irony vinyl, aesthetic pork belly bitters health goth coloring book fixie chicharrones meh cloud bread tonx man braid.</p>
  </ns-expander>
  <ns-expander>
    <h4 slot="heading">Praxis skateboard fixie hammock?</h4>
    <p>Gluten-free vice craft beer pok pok iceland sartorial etsy keffiyeh. Paleo vice mixtape irony post-ironic raclette.</p>
  </ns-expander>
</ns-accordion>