.starlight-aside {
  border-start-end-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
}

.starlight-aside--note {
  --ns-color-asides-text-accent: var(--ns-color-indigo-high);
  border-color: var(--ns-color-indigo);
  background-color: var(--ns-color-indigo-low);
}

.starlight-aside--tip {
  --ns-color-asides-text-accent: var(--ns-color-purple-high);
  border-color: var(--ns-color-purple);
  background-color: var(--ns-color-purple-low);
}

.starlight-aside--caution {
  --ns-color-asides-text-accent: var(--ns-color-orange-high);
  border-color: var(--ns-color-orange);
  background-color: var(--ns-color-orange-low);
}

.starlight-aside--danger {
  --ns-color-asides-text-accent: var(--ns-color-red-high);
  border-color: var(--ns-color-red);
  background-color: var(--ns-color-red-low);
}

.starlight-aside--dont {
  --ns-color-asides-text-accent: var(--ns-color-red-high);
  border-color: var(--ns-color-red);
  background-color: var(--ns-color-red-low);
}

.starlight-aside--do {
  --ns-color-asides-text-accent: var(--ns-color-green-high);
  border-color: var(--ns-color-green);
  background-color: var(--ns-color-green-low);
}
