:root {

  .starlight-aside--do {
    --sl-color-asides-text-accent: var(--sl-color-green-high);
    border-color: var(--sl-color-green);
    background-color: var(--sl-color-green-low);
  }

  .starlight-aside--dont {
    --sl-color-asides-text-accent: var(--sl-color-red-high);
    border-color: var(--sl-color-red);
    background-color: var(--sl-color-red-low);
  }
}