:root {

  /* Nucleus colours */

  --ns-hue-teal: 202;
  --ns-hue-red: 0;
  --ns-hue-orange: 17;
  --ns-hue-pink: 327;
  --ns-hue-magenta: 327;
  --ns-hue-purple: 273;
  --ns-hue-indigo: 223;
  --ns-hue-blue: 226;
  --ns-hue-green: 151;
  --ns-hue-navy: 228;

  --ns-color-white: hsl(0, 0%, 100%);
  --ns-color-teal: hsl(var(--ns-hue-teal), 40%, 32%);
  --ns-color-red: hsl(var(--ns-hue-red), 99%, 35%);
  --ns-color-orange: hsl(var(--ns-hue-orange), 74%, 59%);
  --ns-color-pink: hsl(var(--ns-hue-pink), 60%, 54%);
  --ns-color-magenta: hsl(var(--ns-hue-magenta), 52%, 41%);
  --ns-color-purple: hsl(var(--ns-hue-purple), 43%, 35%);
  --ns-color-indigo: hsl(var(--ns-hue-indigo), 43%, 35%);
  --ns-color-blue: hsl(var(--ns-hue-blue), 57%, 29%);
  --ns-color-green: hsl(var(--ns-hue-green), 43%, 35%);
  --ns-color-navy: hsl(var(--ns-hue-navy), 75%, 23%);
  --ns-color-black: hsl(var(--ns-hue-teal), 40%, 9%);

  --ns-hue-base: var(--ns-hue-teal);

  --ns-color-base-100: hsl(var(--ns-hue-base), 22%, 96%);
  --ns-color-base-200: hsl(var(--ns-hue-base), 21%, 88%);
  --ns-color-base-300: hsl(var(--ns-hue-base), 19%, 66%);
  --ns-color-base-400: hsl(var(--ns-hue-base), 19%, 51%);
  --ns-color-base-500: hsl(var(--ns-hue-base), 33%, 37%);
  --ns-color-base-600: hsl(var(--ns-hue-base), 40%, 32%);
  --ns-color-base-700: hsl(var(--ns-hue-base), 40%, 23%);
  --ns-color-base-800: hsl(var(--ns-hue-base), 40%, 16%);
  --ns-color-base-900: hsl(var(--ns-hue-base), 40%, 9%);

  /* Map Nucleus colours to Starlight variables */

  /* Hues */
  --sl-hue-orange: var(--ns-hue-orange);
  --sl-hue-green: var(--ns-hue-green);
  --sl-hue-blue: var(--ns-hue-blue);
  --sl-hue-purple: var(--ns-hue-purple);
  --sl-hue-red: var(--ns-hue-red);

  /* Dark mode */
  --sl-color-white: var(--ns-color-white);
  --sl-color-gray-1: var(--ns-color-base-100);
  --sl-color-gray-2: var(--ns-color-base-200);
  --sl-color-gray-3: var(--ns-color-base-300);
  --sl-color-gray-4: var(--ns-color-base-400);
  --sl-color-gray-5: var(--ns-color-base-500);
  --sl-color-gray-6: var(--ns-color-base-800);
  --sl-color-gray-7: var(--ns-color-base-900);
  --sl-color-black: var(--ns-color-black);

  --sl-color-bg-sidebar: var(--ns-color-base-800);
  --sl-color-bg-nav: var(--ns-color-base-800);

  --sl-color-accent-low: hsl(var(--ns-hue-orange), 54%, 20%);
  --sl-color-accent: hsl(var(--ns-hue-orange), 100%, 60%);
  --sl-color-accent-high: hsl(var(--ns-hue-orange), 100%, 85%);
  
  --sl-color-text: var(--ns-hue-pink);
  --sl-color-heading: var(--ns-hue-pink);

  /* Heading size */
  --sl-text-xl: 1.25rem; /* 20px */
  --sl-text-2xl: 1.3125rem; /* 21px */
  --sl-text-3xl: 1.3125rem; /* 21px */
  --sl-text-4xl: 2rem; /* 32px */
  --sl-text-5xl: 4rem; /* 64px */

  /* Line height */
  --sl-line-height: 1.5;
}

:root[data-theme='light'] {

  /* Light mode */
  --sl-color-white: var(--ns-color-black);
  --sl-color-gray-1: var(--ns-color-base-700);
  --sl-color-gray-2: var(--ns-color-base-600);
  --sl-color-gray-3: var(--ns-color-base-500);
  --sl-color-gray-4: var(--ns-color-base-400);
  --sl-color-gray-5: var(--ns-color-base-300);
  --sl-color-gray-6: var(--ns-color-base-200);
  --sl-color-gray-7: var(--ns-color-base-100);
  --sl-color-black: var(--ns-color-white);

  --sl-color-bg-sidebar: var(--ns-color-base-100);
  --sl-color-bg-nav: var(--ns-color-base-100);

  --sl-color-accent-low: hsl(var(--ns-hue-orange), 88%, 90%);
  --sl-color-accent: hsl(var(--ns-hue-orange), 90%, 60%);
  --sl-color-accent-high: hsl(var(--ns-hue-orange), 80%, 30%);

  --sl-color-text: var(--ns-color-navy);
  --sl-color-heading: var(--ns-color-navy);
}

.header {
  border-block-end-style: none;
}

.sidebar-pane {
  border-inline-end-style: none;
}

.right-sidebar {
  border-inline-start-style: none;
  padding-top: 0;
}

/* Custom fonts */
main {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 400;
}

/* NOTE: @drew - 2024-01-03 - this selector is to target the homepage */
:root[data-has-hero] {
  .page-title {
    display: none;
  }

  .hero {
    display: block;
  }
}

/* NOTE: @drew - 2024-01-03 - this selector is to target the content page */
:root[data-has-sidebar] {
  .content-panel:nth-child(1) {
    display: none;
  }

  .content-panel:nth-child(2) {
    border-top-width: 0;
  }

  .sl-markdown-content :is(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: 309px;
  }
}

.header {
  .social-icons::after {
    border-inline-end-width: 0;
  }
}

/* NOTE: @drew - 2024-01-05 - 
  [1] - this is a hack to remove the table heading for the Guidance table that follows the heading of "Key"
  [2] - this is to override the starlight css that set's `<table>` as `display:block;`
  [3] - force the table to fill the full width of the content
  [4] - this is to stop any `<code>` in a table from wrapping. This happens when the content in the table is forcing other columns to be narrow
  [5] - this is to remove the alternating background color on the table rows
  [6] - this is to left align the content in the table cells
*/
.sl-markdown-content {
  :is(h1, h2, h3, h4, h5, h6) {
    color: var(--sl-color-heading);
  }

  [id^="key"] + table thead {
    display: none; /* [1] */
  }

  table {
    display: table; /* [2] */
    width: 100%; /* [3] */

    code {
      white-space: nowrap; /* [4] */
    }

    tr:nth-child(2n) {
      background-color: initial; /* [5] */
    }

    th,
    td {
      text-align: left; /* [6] */
    }
  }
}

.purpose {
  padding-inline-start: var(--sl-nav-pad-y);
  border-inline-start-style: solid;
  border-inline-start-width: 0.25rem;
  border-inline-start-color: var(--sl-color-accent);
}

.purpose p {
  font-size: var(--sl-text-xl);
  font-weight: 600;
}

/* NOTE: @drew - 2023-11-29 - temporary styles for the Storybook iframe in the Pages section */
.storybook-embed iframe {
  display: block;
  width: auto;
  min-height: 544px;
  height: auto;
  border-style: solid;
  border-color: #4d4d4d;
  border-top-width: 64px;
  border-right-width: 12px;
  border-bottom-width: 64px;
  border-left-width: 12px;
  resize: both;
  background: #ffffff;
  overflow: auto;
  position: relative;
  min-width: 399px;
  min-height: 795px;
  border-radius: 50px;
}

.sidebar-content {
  ul.top-level {
    ul, li {
      margin: 0.25rem;
    }

    a {
      font-size: 13px;
    }

    li {
      border-inline-start-width: 0;
    }

    .large {
      font-weight: normal;
    }

    [aria-current='page'],
    [aria-current='page']:hover,
    [aria-current='page']:focus {
      font-weight: 800;
    }
  }
}
