:root {

  /* Nucleus colours */

  --ns-hue-teal: 202;
  --ns-hue-red: 0;
  --ns-hue-orange: 17;
  --ns-hue-pink: 327;
  --ns-hue-magenta: 327;
  --ns-hue-purple: 273;
  --ns-hue-indigo: 223;
  --ns-hue-blue: 226;
  --ns-hue-green: 151;
  --ns-hue-navy: 228;

  --ns-color-white: hsl(0, 0%, 100%);
  --ns-color-teal: hsl(var(--ns-hue-teal), 40%, 32%);
  --ns-color-red: hsl(var(--ns-hue-red), 99%, 35%);
  --ns-color-orange: hsl(var(--ns-hue-orange), 74%, 59%);
  --ns-color-pink: hsl(var(--ns-hue-pink), 60%, 54%);
  --ns-color-magenta: hsl(var(--ns-hue-magenta), 52%, 41%);
  --ns-color-purple: hsl(var(--ns-hue-purple), 43%, 35%);
  --ns-color-indigo: hsl(var(--ns-hue-indigo), 43%, 35%);
  --ns-color-blue: hsl(var(--ns-hue-blue), 57%, 29%);
  --ns-color-green: hsl(var(--ns-hue-green), 43%, 35%);
  --ns-color-navy: hsl(var(--ns-hue-navy), 75%, 23%);
  --ns-color-black: hsl(var(--ns-hue-teal), 40%, 5%);

  --ns-hue-base: var(--ns-hue-teal);

  --ns-color-base-100: hsl(var(--ns-hue-base), 22%, 96%);
  --ns-color-base-200: hsl(var(--ns-hue-base), 21%, 88%);
  --ns-color-base-300: hsl(var(--ns-hue-base), 19%, 66%);
  --ns-color-base-400: hsl(var(--ns-hue-base), 19%, 51%);
  --ns-color-base-500: hsl(var(--ns-hue-base), 33%, 37%);
  --ns-color-base-600: hsl(var(--ns-hue-base), 40%, 32%);
  --ns-color-base-700: hsl(var(--ns-hue-base), 40%, 23%);
  --ns-color-base-800: hsl(var(--ns-hue-base), 40%, 16%);
  --ns-color-base-900: hsl(var(--ns-hue-base), 40%, 9%);

  /* Map Nucleus colours to Starlight variables */

  /* Hues */
  --sl-hue-orange: var(--ns-hue-orange);
  --sl-hue-green: var(--ns-hue-green);
  --sl-hue-blue: var(--ns-hue-blue);
  --sl-hue-purple: var(--ns-hue-purple);
  --sl-hue-red: var(--ns-hue-red);

  /* Dark mode */
  --sl-color-white: var(--ns-color-white);
  --sl-color-gray-1: var(--ns-color-base-100);
  --sl-color-gray-2: var(--ns-color-base-200);
  --sl-color-gray-3: var(--ns-color-base-300);
  --sl-color-gray-4: var(--ns-color-base-400);
  --sl-color-gray-5: var(--ns-color-base-500);
  --sl-color-gray-6: var(--ns-color-base-800);
  --sl-color-gray-7: var(--ns-color-base-900);
  --sl-color-black: var(--ns-color-black);

  --sl-color-bg-sidebar: var(--ns-color-base-900);
  --sl-color-bg-nav: var(--ns-color-base-900);
  --sl-color-bg-config: var(--ns-color-base-900);

  --sl-color-accent-low: hsl(var(--ns-hue-orange), 54%, 20%);
  --sl-color-accent: hsl(var(--ns-hue-orange), 100%, 60%);
  --sl-color-accent-high: hsl(var(--ns-hue-pink), 100%, 85%);
  
  --sl-color-text-accent : var(--sl-color-accent-high);
  
  --sl-color-text: var(--sl-color-gray-2);
  --sl-color-heading: var(--sl-color-gray-2);

  /* Text size and line height */
  --sl-text-xs: 0.875rem; /* 14px */
  --sl-text-sm: 0.9375rem; /* 15px */
  --sl-text-base: 1rem; /* 16px */
  --sl-text-lg: 1.0625rem; /* 17px */
  --sl-text-xl: 1.125rem; /* 18px */
  --sl-text-2xl: 1.125rem; /* 18px */
  --sl-text-3xl: 1.3125rem; /* 21px */
  --sl-text-4xl: 1.75rem; /* 28px */
  --sl-text-5xl: 2.25rem; /* 36px */

  --sl-text-code: var(--sl-text-xs);

  /* Line height */
  --sl-line-height: 1.5;

  /* Key layout values */
  --sl-sidebar-width: 16rem;
  --sl-content-width: 50rem;
  --ns-masthead-height: 8.75rem;
  --ns-section-tabs-height: 3.5rem;

  /* Masthead colours */
  --ns-color-masthead-components: var(--ns-color-teal);
  --ns-color-masthead-guidelines: var(--ns-color-orange);
  --ns-color-masthead-patterns: var(--ns-color-purple);
  --ns-color-masthead-page-types: var(--ns-color-pink);
  
  /* Section tabs SVGs */
  --ns-section-tab-overview: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
  --ns-section-tab-implementation: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m234-480-12-60q-12-5-22.5-10.5T178-564l-58 18-40-68 46-40q-2-13-2-26t2-26l-46-40 40-68 58 18q11-8 21.5-13.5T222-820l12-60h80l12 60q12 5 22.5 10.5T370-796l58-18 40 68-46 40q2 13 2 26t-2 26l46 40-40 68-58-18q-11 8-21.5 13.5T326-540l-12 60h-80Zm40-120q33 0 56.5-23.5T354-680q0-33-23.5-56.5T274-760q-33 0-56.5 23.5T194-680q0 33 23.5 56.5T274-600ZM592-40l-18-84q-17-6-31.5-14.5T514-158l-80 26-56-96 64-56q-2-18-2-36t2-36l-64-56 56-96 80 26q14-11 28.5-19.5T574-516l18-84h112l18 84q17 6 31.5 14.5T782-482l80-26 56 96-64 56q2 18 2 36t-2 36l64 56-56 96-80-26q-14 11-28.5 19.5T722-124l-18 84H592Zm56-160q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z"/></svg>');
  --ns-section-tab-guidance: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m260-260 300-140 140-300-300 140-140 300Zm220-180q-17 0-28.5-11.5T440-480q0-17 11.5-28.5T480-520q17 0 28.5 11.5T520-480q0 17-11.5 28.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
  --ns-section-tab-accessibility: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-720q-33 0-56.5-23.5T400-800q0-33 23.5-56.5T480-880q33 0 56.5 23.5T560-800q0 33-23.5 56.5T480-720ZM360-80v-520q-60-5-122-15t-118-25l20-80q78 21 166 30.5t174 9.5q86 0 174-9.5T820-720l20 80q-56 15-118 25t-122 15v520h-80v-240h-80v240h-80Z"/></svg>');

  /* Rehype heading link SVG */
  --ns-icon-link: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>');
}

:root[data-theme='light'] {
  /* Light mode */
  --sl-color-white: var(--ns-color-black);
  --sl-color-gray-1: var(--ns-color-base-700);
  --sl-color-gray-2: var(--ns-color-base-600);
  --sl-color-gray-3: var(--ns-color-base-500);
  --sl-color-gray-4: var(--ns-color-base-400);
  --sl-color-gray-5: var(--ns-color-base-300);
  --sl-color-gray-6: var(--ns-color-base-200);
  --sl-color-gray-7: var(--ns-color-base-100);
  --sl-color-black: var(--ns-color-white);

  --sl-color-bg-sidebar: var(--ns-color-base-100);
  --sl-color-bg-nav: var(--ns-color-base-100);
  --sl-color-bg-config: var(--ns-color-base-100);

  --sl-color-accent-low: hsl(var(--ns-hue-orange), 88%, 90%);
  --sl-color-accent: hsl(var(--ns-hue-orange), 90%, 60%);
  --sl-color-accent-high: hsl(var(--ns-hue-pink), 60%, 54%);

  --sl-color-text-accent: var(--sl-color-accent-high);

  --sl-color-text: var(--ns-color-navy);
  --sl-color-heading: var(--ns-color-navy);
}

.header {
  border-block-end-style: none;
}

body {
  font-size: var(--sl-text-body);
}

/* Custom fonts */
main {
  font-family: "Roboto", sans-serif;
  padding-block-end: 0 !important;
}

h1 {
  font-weight: 400;
}

/* NOTE: @drew - 2024-01-03 - this selector is to target the homepage */
:root[data-has-hero] {
  .masthead {
    display: none;
  }

  .hero {
    display: block;
  }

  .footer {
    display: none;
  }
}

/* NOTE: @drew - 2024-01-03 - this selector is to target the content page */
:root[data-has-sidebar] {
  .content-panel {
    padding-inline-start: calc(var(--sl-content-pad-x) * 2);
    padding-inline-end: var(--sl-content-pad-x);
    padding-block-start: 1rem;
    padding-block-end: 1rem;
  }

  .content-panel {
    padding-block-end: 0;
  }

  .content-panel:nth-child(1) {
    display: none;
  }

  .content-panel:nth-child(2) {
    border-top-width: 0;
  }

  .sl-markdown-content :is(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: -0.5rem;
  }

  :has(section-tabs) {
    .sl-markdown-content :is(h1, h2, h3, h4, h5, h6) {
      scroll-margin-top: calc(var(--ns-section-tabs-height) + 1rem);
    }
  }

  @media(width < 72em) {
    .content-panel {
      padding-inline-start: var(--sl-content-pad-x);
    }
  }

  @media(width >= 72em) {
    .content-panel {
      .sl-container {
        margin-inline: auto;
      }
    }
  }
}

.header {
  .social-icons::after {
    border-inline-end-width: 0;
  }
}

/* NOTE: @drew - 2024-02-01 - adjust the position of the right-sidebar when the section-tabs are on the page */
:has(section-tabs) {
  .right-sidebar {
    top: calc(var(--sl-nav-height) + var(--ns-section-tabs-height) + var(--sl-content-pad-x) + var(--sl-content-pad-x));
    margin-block-start: calc(var(--ns-section-tabs-height) * -1 );
  }
}

/* NOTE: @drew - 2024-01-05 - 
  [1] - this is a hack to remove the table heading for the Guidance table that follows the heading of "Key"
  [2] - this is to override the starlight css that set's `<table>` as `display:block;`
  [3] - force the table to fill the full width of the content
  [4] - this is to stop any `<code>` in a table from wrapping. This happens when the content in the table is forcing other columns to be narrow
  [5] - this is to remove the alternating background color on the table rows
  [6] - this is to left align the content in the table cells
*/
.sl-markdown-content {
  :is(h1, h2, h3, h4, h5, h6) {
    color: var(--sl-color-heading);

    &:hover {
      .icon-link {
        opacity: 1;
      }
    }

    .icon-link {
      display: inline-block;
      background-color: currentColor;
      margin-inline-start: 0.25em;
      width: 1em;
      height: 1em;
      mask-image: var(--ns-icon-link);
      mask-size: cover;
      vertical-align: middle;
      opacity: 0.25;
      transition-property: opacity;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }

  h2:is(:not(:first-child)) {
    margin-block-start: 6rem;
  }

  [id^="key"] + table thead {
    display: none; /* [1] */
  }

  code {
    border-radius: 0.2rem;
    padding-inline-start: 0.25rem;
    padding-inline-end: 0.25rem;
    padding-block-start: 0.125rem;
    padding-block-end: 0.125rem;
  }

  table {
    display: table; /* [2] */
    width: 100%; /* [3] */

    code {
      white-space: nowrap; /* [4] */
    }

    tr:nth-child(2n) {
      background-color: initial; /* [5] */
    }

    th,
    td {
      text-align: left; /* [6] */
    }
  }
}

.purpose {
  position: relative;
  padding-inline-start: var(--sl-nav-pad-y);
  border-inline-start-style: solid;
  border-inline-start-width: 0.25rem;
  border-inline-start-color: var(--sl-color-accent);
}

.purpose p {
  font-size: var(--sl-text-h4);
  font-weight: 600;
}

/* NOTE: @drew - 2023-11-29 - temporary styles for the Storybook iframe in the Pages section */
.storybook-embed iframe {
  display: block;
  width: auto;
  min-height: 544px;
  height: auto;
  border-style: solid;
  border-color: #4d4d4d;
  border-top-width: 64px;
  border-right-width: 12px;
  border-bottom-width: 64px;
  border-left-width: 12px;
  resize: both;
  background: #ffffff;
  overflow: auto;
  position: relative;
  min-width: 399px;
  min-height: 795px;
  border-radius: 50px;
}

.sidebar-pane {
  border-inline-end-style: none;
}

.sidebar-content {
  padding-inline-start: 0;

  .top-level {
    padding-block-end: 50vh;

    > li {
      margin-block-start: 0;
    }
  }

  .group-label {
    .large {
      font-weight: 500;
      color: var(--sl-color-gray-3);
    }
  }

  details {
    summary {
      padding-block-start: 0.75rem;
      padding-block-end: 0.75rem;
    }

    ul {
      li {
        border-inline-start-style: none;

        &:has(ul) {
          padding-inline-start: 0;
        }
      }
    }

    a {
      position: relative;
      font-size: var(--sl-text-base);
      padding-inline-start: 0;
      padding-inline-end: 0;
      padding-block-start: 0.25rem;
      padding-block-end: 0.25rem;

      span {
        display: block;
        border-radius: 0.25rem;
        padding-inline-start: 1rem;
        padding-inline-end: 0.5rem;
        padding-block-start: 0.5rem;
        padding-block-end: 0.5rem;
      }

      &:hover {
        span {
          color: var(--sl-color-white);
        }
      }

      &[aria-current="page"] {
        font-weight: 400;
        background-color: transparent;
        color: var(--sl-color-text);

        span {
          background-color: var(--sl-color-gray-6);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0.25rem;
          bottom: 0.25rem;
          left: -1rem;
          width: 0.25rem;
          background-color: var(--sl-color-accent);
          border-radius: 0.25rem;
        }
      }
    }
  }
}

.right-sidebar-panel {
  padding-inline-start: 1rem;
  padding-inline-end: var(--sl-content-pad-x);
  padding-block-start: 0;
  padding-block-end: 0;

  .sl-container {
    width: inherit;
  }

  h2 {
    font-weight: 500;
    color: var(--sl-color-text);
    font-size: var(--sl-text-lg);
  }

  li {
    margin-block: 0.5rem;
  }

  a {
    font-size: var(--sl-text-base);
  }
}
