/* Dark mode colors. */
:root {
	--sl-color-accent-low: #17181C; /* highlighted text */
	--sl-color-accent: #F39E13;
	--sl-color-accent-high: #E16E55; /* highlight */
	--sl-color-white: #ffffff; /* top level text */
	--sl-color-gray-1: #D0DDE7;
	--sl-color-gray-2: #B9CCDA; /* SUb menus */
	--sl-color-gray-3: #8AAAC2; /* Edit and RHS links */
	--sl-color-gray-4: #3e6480;
	--sl-color-gray-5: #354268; /* borders and lines */
	--sl-color-gray-6: #191c23; /* menu base */
	--sl-color-black: #15171c; /* Base */
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #bbdcf5;
	--sl-color-accent: #0073ac;
	--sl-color-accent-high: #003654;
	--sl-color-white: #141c00;
	--sl-color-gray-1: #212c00;
	--sl-color-gray-2: #303f00;
	--sl-color-gray-3: #4c6100;
	--sl-color-gray-4: #7a9a00;
	--sl-color-gray-5: #b6cd87;
	--sl-color-gray-6: #e4f7be;
	--sl-color-gray-7: #f1fbdf;
	--sl-color-black: #ffffff;
}