/* Dark mode colors. */
:root {
  --sl-color-accent-low: #17181C; /* highlighted text */
  --sl-color-accent: #F39E13;
  --sl-color-accent-high: #E16E55; /* highlight */
  --sl-color-white: #ffffff; /* top level text */
  --sl-color-gray-1: #D0DDE7;
  --sl-color-gray-2: #8AAAC2; /* SUb menus */
  --sl-color-gray-3: #8AAAC2; /* Edit and RHS links */
  --sl-color-gray-4: #3e6480;
  --sl-color-gray-5: #354268; /* borders and lines */
  --sl-color-gray-6: #191c23; /* menu base */
  --sl-color-black: #15171c; /* Base */
  --sl-content-width: 54rem; /* Content width */
  --sl-sidebar-width: 14rem; /* Sidebar width */
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #ffffff; /* highlighted text */
  --sl-color-accent: #B94680; /* highlight */
  --sl-color-accent-high: #557fe1; /* highlight */
  --sl-color-white: #0F2067; /* top level text */
  --sl-color-gray-1: #231919; /* light mode toggle text */
  --sl-color-gray-2: #13517e; /* SUb menus */
  --sl-color-gray-3: #13517e; /* Edit and RHS links */
  --sl-color-gray-4: #8AAAC2;
  --sl-color-gray-5: #7298f0; /* borders and lines */
  --sl-color-gray-6: #B9CCDA; 
  --sl-color-gray-7: #ffffff; /* top bar base */
  --sl-color-black: #F4F6F8; /* Base */
}
/* Custom fonts */
main {
  font-family: 'Roboto', sans-serif;
}
/* NOTE: @drew - 2023-11-28 - temporary fix to stop `code` wrapping */
code {
  white-space: nowrap;
}

/* NOTE: @drew - 2023-11-29 - temporary styles for the Storybook iframe in the Pages section */
.storybook-embed iframe {
  display: block;
  width: auto;
  min-height: 544px;
  height: auto;
  border-style: solid;
  border-color: #4d4d4d;
  border-top-width: 64px;
  border-right-width: 12px;
  border-bottom-width: 64px;
  border-left-width: 12px;
  resize: both;
  background: #ffffff;
  overflow: auto;
  position: relative;
  min-width: 399px;
  min-height: 795px;
  border-radius: 50px;
}

/* NOTE: @drew - 2023-11-29 - temprary to override global styles which resulted in additional space between each line in the code block */
.expressive-code .ec-line {
  margin-top: initial;
}
