---
import cem from '@connectedhomes/nucleus/custom-elements.json';
import { ExampleView } from '../../../../components/ce/example-view';

export const getStaticPaths = () => {
  const pages = cem.tags.map((tag) => {
    return {
      component: tag.name,
      title: tag.name,
      description: tag.description
    };
  });
  // const pages = [
  //   {
  //     component:'ns-content',
  //     title:'Content',
  //     description:'content component description'
  //   },
  //   {
  //     component:'ns-alert',
  //     title:'Alert',
  //     description:'alert component description'
  //   },
  //   {
  //     component:'ns-card',
  //     title:'Card',
  //     description:'card component description'
  //   }
  // ];
  return pages.map(({ component, title, description }) => {
    return {
      params: { component },
      props: { title, description },
    };
  });
}
const { component } = Astro.params;
const { title, description } = Astro.props;
import Specification from '../../../../components/specification.astro';
const standardExamples = await Astro.glob('../../components/**/example-standard.md');
const standardExample = standardExamples.find((example) => example.frontmatter.title === component);
const exampleContent = standardExample?.Content;
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.9/beautify-html.js"></script>
<ExampleView client:visible>
  {standardExample?.rawContent()}
</ExampleView>

<p>{description}</p>

<Specification name={component}>
</Specification>
