<ns-fieldset legend="Craft beer">
  <ns-inputter validation="[&quot;isRequired&quot;]" name="first-name">
    <label slot="label">Williamsburg</label>
    <input type="text">
  </ns-inputter>
  <ns-inputter validation="[&quot;isRequired&quot;]" name="surname">
    <label slot="label">Portland</label>
    <input type="text">
  </ns-inputter>
  <ns-inputter heading="Shabby chic cloud bread?" helper="Forage locavore?" validation="[&quot;isRequired&quot;]" name="checkboxes">
    <div slot="tip-details">Chambray succulents kickstarter deep v cred polaroid.</div>
    <input checked type="checkbox" name="checkboxes" value="a" id="checkbox-01">
    <label for="checkbox-01">Paleo</label>
    <input type="checkbox" name="checkboxes" value="b" id="checkbox-02">
    <label for="checkbox-02">Blue bottle</label>
    <input type="checkbox" name="checkboxes" value="c" id="checkbox-03">
    <label for="checkbox-03">Swag bitters</label>
    <input disabled type="checkbox" name="checkboxes" value="d" id="checkbox-04">
    <label for="checkbox-04">Stumptown</label>
  </ns-inputter>
</ns-fieldset>
