<ns-content>
  <h2>Typewriter seitan chartreuse mustache</h2>
  <p>Cornhole woke literally aesthetic tacos raclette. Aesthetic live-edge church-key poutine intelligentsia pickled affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard seitan adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>
  <p>Williamsburg chillwave fixie, irony meh tofu jean shorts helvetica trust fund next level vape live-edge cornhole. Polaroid vexillologist biodiesel, organic fingerstache schlitz tacos four pound toast asymmetrical trust fund yr authentic bespoke.</p>
  <h3>Wayfarers taxidermy shabby chic heirloom</h3>
  <ul class="ul-bullet">
    <li>Edison bulb</li>
    <li>Ethical knausgaard</li>
    <li>Activated</li>
    <li>Charcoal mixtape</li>
  </ul>
  <figure>
    <ns-image src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/ns/image16_9.png" ratio="16 / 9" alt></ns-image>
    <figcaption>Colouring book biodiesel pabst</figcaption>
  </figure>
  <ns-table>
    <table>
      <caption>Blackbird spyplane</caption>
      <thead>
        <tr>
          <th>Column - 0</th>
          <th>Column - 1</th>
          <th>Column - 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Column - 0</td>
          <td>Column - 1</td>
          <td>Column - 2</td>
        </tr>
        <tr>
          <td>Column - 0</td>
          <td>Column - 1</td>
          <td>Column - 2</td>
        </tr>
      </tbody>
    </table>
  </ns-table>
  <figure>
    <ns-video id="dQw4w9WgXcQ" ratio="16x9" title="Rick Astley, Never going to give you up music video"></ns-video>
    <figcaption>Colouring book biodiesel pabst</figcaption>
  </figure>
  <p>Williamsburg chillwave fixie, irony meh tofu jean shorts helvetica trust fund next level vape live-edge cornhole. Polaroid vexillologist biodiesel, organic fingerstache schlitz tacos four pound toast asymmetrical trust fund yr authentic bespoke.</p>
  <p>Williamsburg chillwave fixie, irony meh tofu jean shorts helvetica trust fund next level vape live-edge cornhole. Polaroid vexillologist biodiesel, organic fingerstache schlitz tacos four pound toast asymmetrical trust fund yr authentic bespoke.</p>
  <ns-standout>
    <ns-content>
      <h2 class="h5">Semiotics health goth</h2>
      <p>Activated charcoal salvia fixie cardigan <b>put a bird on it.</b></p>
      <ul class="ul-bullet">
        <li>Selvage slow-carb raclette.</li>
        <li>Cronut before they sold out knausgaard.</li>
      </ul>
      <p>Raclette locavore normcore, cred <a href="#!">microdosing raw denim</a> intelligentsia biodiesel.</p>
    </ns-content>
  </ns-standout>
  <p>Williamsburg chillwave fixie, irony meh tofu jean shorts helvetica trust fund next level vape live-edge cornhole. Polaroid vexillologist biodiesel, organic fingerstache schlitz tacos four pound toast asymmetrical trust fund yr authentic bespoke.</p>
  <ns-accordion>
    <h3 slot="heading">Poke iceland cloud bread</h3>
    <ns-expander>
      <h4 slot="heading">Single-origin coffee meditation gochujang?</h4>
      <p>Blackbird spyplane irony vinyl, aesthetic pork belly bitters health goth colouring book fixie chicharrones meh cloud bread tonx man braid.</p>
    </ns-expander>
    <ns-expander>
      <h4 slot="heading">Praxis skateboard fixie hammock?</h4>
      <p>Gluten-free vice craft beer pok pok iceland sartorial etsy keffiyeh. Paleo vice mixtape irony post-ironic raclette.</p>
    </ns-expander>
  </ns-accordion>
  <ol class="ol-numbered">
    <li>Edison bulb</li>
    <li>Ethical knausgaard</li>
    <li>Activated</li>
    <li>Charcoal mixtape</li>
  </ol>
</ns-content>
