<ns-table>
  <table>
    <caption>Table caption</caption>
    <thead>
      <tr><th scope="row">Fixed heading</th><th>Heading</th><th>Heading</th><th>Heading</th><th>Heading</th><th>Heading</th><th>Heading</th><th>Heading</th></tr>
    </thead>
    <tbody>
      <tr><th scope="row">Fixed heading</th><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr><tr><th scope="row">Fixed heading</th><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td><td>Data</td></tr>
    </tbody>
  </table>
</ns-table>
