<ns-table>
  <table>
    <caption>Gastropub</caption>
    <thead>
      <tr>
        <th>Typewriter</th>
        <th>Dangers</th>
        <th>Playing</th>
        <th>Window</th>
        <th>Meaning</th>
        <th>Pace</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Current</th>
        <td>living</td>
        <td>odds</td>
        <td>charged</td>
        <td>heads</td>
        <td>felt</td>
      </tr>
      <tr>
        <th>Inn</th>
        <td>climbing</td>
        <td>destroying</td>
        <td>overhead</td>
        <td>roll</td>
        <td>mud</td>
      </tr>
      <tr>
        <th>Breath</th>
        <td>relevant</td>
        <td>éored</td>
        <td>hinges</td>
        <td>year</td>
        <td>signed</td>
      </tr>
      <tr>
        <th>Accept</th>
        <td>threads</td>
        <td>name</td>
        <td>fitted</td>
        <td>precious</td>
        <td>attacked</td>
      </tr>
      <tr>
        <th>Chief</th>
        <td>sails</td>
        <td>first-born</td>
        <td>pottery</td>
        <td>lever</td>
        <td>antagonize</td>
      </tr>
      <tr>
        <th>Unoccupied</th>
        <td>victorious</td>
        <td>means</td>
        <td>lovely</td>
        <td>humble</td>
        <td>force</td>
      </tr>
    </tbody>
  </table>
</ns-table>
