<ns-panel>
  <ns-content>
    <h2>Paleo</h2>
    <p class="p-feature">Meditation <b>ugh bespoke</b>, church-key pug viral <a href="#!">unicorn humblebrag snackwave</a> flannel tumblr.</p>
    <p>Ascot venmo live-edge fashion axe, messenger bag activated charcoal bicycle rights <a href="#!">gatekeep lo-fi tumblr</a> mumblecore pabst bespoke poke 8-bit.</p>
    <p>Letterpress listicle post-ironic tbh banh mi. Iceland sus art party, kickstarter <b>banh mi vape</b> edison bulb actually.</p>
    <ul class="ul-bullet">
      <li>Hoodie banjo polaroid ethical shaman health goth fixie vice next level fashion bespoke poke</li>
      <li>Cloud vape taxidermy gastropub glossier</li>
    </ul>
    <dl class="dl-row">
      <div>
        <dt>Biodiesel photo booth</dt>
        <dd>Cardigan everyday carry fingerstache copper mug</dd>
      </div>
      <div>
        <dt>Toast bitters</dt>
        <dd>Raw denim flexitarian tilde messenger</dd>
      </div>
      <div>
        <dt>Normcore next</dt>
        <dd>Venmo trust fund vexillologist church</dd>
      </div>
    </dl>
    <ns-download href="this-text-gets-ignored.pdf" filesize="123MB">Mukbang plaid fingerstache stumptown </ns-download>
    <ns-cta>Paleo fashion</ns-cta>
  </ns-content>
  <ns-column basketballcourt="2" hockeypitch="3">
    <ns-card type="support">
      <h3 slot="heading">Kombucha glossier</h3>
      <p slot="paragraph">Green juice fam selfies celiac vegan bespoke meh tofu.</p>
      <ns-cta slot="cta" href="#!">Food truck</ns-cta>
    </ns-card>
    <ns-card type="flat">
      <h3 slot="heading">Cronut polaroid</h3>
      <p slot="paragraph">Brunch mukbang blue bottle vaporware taiyaki tbh, migas. Brunch live-edge vegan schlitz selfies irony street art hoodie twee.</p>
      <p slot="paragraph">Cred lomo vegan offal, vinyl bespoke tbh glossier photo booth you probably haven't heard of them tote bag.</p>
      <ns-cta type="text" slot="cta" href="#!">Sustainable offal</ns-cta>
    </ns-card>
    <ns-card type="section" decoration="appliance">
      <h3 slot="heading">Kombucha glossier</h3>
      <p slot="paragraph">Mlkshk neutra green juice wolf moon small batch ramps.</p>
      <ns-cta slot="cta" href="#!">Tousled gastropub</ns-cta>
    </ns-card>
    <ns-card type="support" image="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/ns/image16_9.png">
      <h3 slot="heading">Four loko wolf</h3>
      <p slot="paragraph">Praxis mlkshk subway tile activated charcoal woke shoreditch.</p>
      <ns-cta slot="cta" href="#!">Vinyl jean shorts</ns-cta>
    </ns-card>
  </ns-column>
</ns-panel>
