---
import type { Props } from "@astrojs/starlight/props";
import NucleusContribute from "../NucleusContribute.astro";

import { EditLink, LastUpdated, Pagination } from 'virtual:starlight/components';
---

<footer>
  <div class="page-footer">
    <h3>Found a problem with the content on this page?</h3>
    <ul>
      <li><EditLink {...Astro.props} /></li>
      <li><a href="https://github.com/centrica-engineering/nucleus-docs/issues/new?assignees=&amp;labels=Type: Bug&amp;title=%5Bns-component%5D" target="_blank" rel="noopener noreferrer">Report the content issue</a></li>
      <li><a href="#!" target="_blank" rel="noopener noreferrer">View the source on Github</a></li>
    </ul>
    <NucleusContribute {...Astro.props} />
    <LastUpdated {...Astro.props} />
    <Pagination {...Astro.props} />
  </div>
</footer>

<style>
  footer {
    height: 80vh;
    background-color: orange;
  }
  .page-footer {
    background-color: var(--sl-color-gray-7);
    padding-inline-start: var(--sl-content-pad-x);
    padding-inline-end: var(--sl-content-pad-x);
    padding-block-start: var(--sl-content-pad-x);
    padding-block-end: var(--sl-content-pad-x);
    border-style: solid;
    border-width: 2px;
    border-color: var(--sl-color-gray-6);
    border-radius: 0.5rem;

    h3 {
      margin-block-end: 1rem;
    }

    ul {
      margin-block-end: 1rem;
    }
  }
</style>
