---
import { Image } from "astro:assets";
import Default from '@astrojs/starlight/components/Hero.astro';
import Search from '@astrojs/starlight/components/Search.astro';

import type { Props } from '@astrojs/starlight/props';

const PAGE_TITLE_ID = '_top';
const { data } = Astro.props.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};

const isHomePage = Astro.props.slug === '';
---
<Fragment>
  {
    isHomePage ? (
      <div class="hero">
        <div class="logo"></div>
        <h1 id={PAGE_TITLE_ID} data-page-title set:html={title} />
        <Search {...Astro.props} />
      </div>
    )
    : (
      <Default {...Astro.props} />
    )
  }
</Fragment>

<style>
  .hero {
    .logo {
      margin-block-start: 2rem;
      margin-inline-start: auto;
      margin-inline-end: auto;
      height: 6rem;
      padding-block-start: 6rem;
      background-image: var(--ns-logo-homepage);
      background-size: cover;
      aspect-ratio: 245 / 44;
    }

    h1 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-size: var(--sl-text-4xl);
      color: var(--sl-color-gray-3);
      text-align: center;
      letter-spacing: 0.1em;
    }

    site-search {
      display: flex;

      button {
        max-width: 37.5rem;
        margin-inline-start: auto;
        margin-inline-end: auto;
        border-radius: 100px;
      }
    }
    @media (width <= 75rem) {
      .logo {
        height: 3rem;
        padding-block-start: 3rem;
      }
    }
  }
</style>
