---
import type { Props } from "@astrojs/starlight/props";

import MobileTableOfContents from '@astrojs/starlight/components/MobileTableOfContents.astro';
import TableOfContents from './TableOfContents.astro';

const classList = [
  'right-sidebar-panel',
  'sl-hidden',
  'lg:sl-block'
];
---

{
  Astro.props.toc && (
    <>
      <div class="lg:sl-hidden">
        <MobileTableOfContents {...Astro.props} />
      </div>
      <div class:list={classList}>
        <div class="sl-container">
          <TableOfContents {...Astro.props} />
        </div>
      </div>
    </>
  )
}

<style>
  .right-sidebar-panel {
    padding-inline-start: 1rem;
    padding-inline-end: var(--sl-content-pad-x);
    padding-block-start: 0;
    padding-block-end: 0;

    li {
      margin-block: 0.5rem;
    }
  }

  .right-sidebar-panel :global(h2) {
    color: var(--sl-color-text);
    font-size: var(--sl-text-lg);
    font-weight: 500;
    line-height: var(--sl-line-height-headings);
    margin-bottom: 0.5rem;
  }

  .right-sidebar-panel :global(a) {
    display: block;
    font-size: var(--sl-text-base);
    text-decoration: none;
    color: var(--sl-color-gray-3);
    overflow-wrap: anywhere;
  }

  .right-sidebar-panel :global(a:hover) {
    color: var(--sl-color-white);
  }
</style>
