---
import type { Props } from "@astrojs/starlight/props";
import NucleusMasthead from "../NucleusMasthead.astro";

const { slug } = Astro.params;
const isComponentPage = (slug ?? '').indexOf('components/ns') > -1;

const classList = [
  'right-sidebar',
  {'has-component' : isComponentPage}
];
---

<NucleusMasthead {...Astro.props} />

<div class="layout">
  {
    Astro.props.toc && (
      <aside class="right-sidebar-container">
        <div class:list={classList}>
          <slot name="right-sidebar" />
        </div>
      </aside>
    )
  }
  <div class="main-pane"><slot /></div>
</div>

<style>
  /* NOTE: @drew - 2024-02-01 - adjust the position of the right-sidebar when the section-tabs are on the page */
  .right-sidebar.has-component {
    top: calc(var(--sl-nav-height) + var(--ns-section-tabs-height) + var(--sl-content-pad-x) + var(--sl-content-pad-x));
    margin-block-start: calc(var(--ns-section-tabs-height) * -1 );
  }

  .main-pane {
    isolation: isolate;
  }

  .layout {
    display: grid;
  }

  @media (width >= 50rem) {
    .main-pane {
      max-width: calc(100vw - var(--sl-sidebar-width));
    }
  }

  @media (min-width: 72rem) {
    .layout {
      grid-template-columns: 1fr var(--sl-sidebar-width) ;
    }

    .main-pane {
      width: calc(100vw - (var(--sl-sidebar-width) * 2));
    }

    .right-sidebar-container {
      order: 2;
      width: var(--sl-sidebar-width);
      margin-inline-start: auto;
      margin-inline-end: var(--sl-content-pad-x);

      #starlight__on-this-page {
        display: none;
      }
    }

    .right-sidebar {
      position: sticky;
      top: calc(var(--sl-nav-height) + var(--sl-content-pad-x));
      margin-block-start: calc(var(--ns-section-tabs-height) * -1 );
      height: calc(100vh - var(--sl-nav-height) - var(--ns-section-tabs-height));
      padding-block-end: 10vh;
      width: inherit;
      overflow-y: auto;
      scrollbar-width: none;
    }

    :global([data-has-sidebar][data-has-toc]) .main-pane {
      --sl-content-margin-inline: auto 0;

      order: 1;
    }
  }
</style>
