<ns-inputter heading="Keytar man bun hell?" helper="Waistcoat sartorial?" validation="[&quot;isRequired&quot;]" name="radiobuttons" class="inline">
  <input checked type="radio" name="radiobuttons" value="a" id="radio-01">
  <label for="radio-01">Direct</label>
  <input type="radio" name="radiobuttons" value="b" id="radio-02">
  <label for="radio-02">Trade</label>
  <input type="radio" name="radiobuttons" value="c" id="radio-03">
  <label for="radio-03">Raclette</label>
  <input disabled type="radio" name="radiobuttons" value="d" id="radio-04">
  <label for="radio-04">Ennui</label>
  <div slot="tip-details">Freegan tattooed raw denim.</div>
</ns-inputter>
