---
import { icons } from '@connectedhomes/nucleus-util/brands/british-gas';
---

<div class="icons not-content">
  {
    icons && 
    icons.map((icon, i) => {
      return (
        <div class="icon">
          <div class="svg" set:html={icon.svg} />
          <span class="label">{icon.name}</span>
        </div>
      );
    })
  }
</div>

<style>
  .icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    gap: 1rem;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      aspect-ratio: 1 / 1;
      overflow-wrap: anywhere;
    }

    .svg {
      height: 2rem;
      width: 2rem;
    }

    .label {
      font-size: var(--sl-text-sm);
    }
  }
</style>
