---
import { illustrations } from '@connectedhomes/nucleus-util/brands/british-gas';
---

<div class="illustrations not-content">
  {
    illustrations && 
    illustrations.map((illustration, i) => {
      return (
        <div class="illustration">
          <div class="svg" set:html={illustration.svg?.replace('<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"', '<svg ')} />
            <span class="label">{illustration.name}</span>
        </div>
      );
    })
  }
</div>

<style>
  .illustrations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    gap: 1rem;

    .illustration {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      aspect-ratio: 1 / 1;
      overflow-wrap: anywhere;
    }

    .svg {
      height: 4rem;
      width: 4rem;
    }

    .label {
      font-size: var(--sl-text-sm);
    }
  }
</style>
