---
const { name } = Astro.props;

import cem from "@connectedhomes/nucleus/custom-elements.json";
const compDetails = cem.tags.find((tag) => tag.name === name);
---

<div class="purpose">
  <p>{compDetails?.description}</p>
</div>
<button class="button secondary spark">Tldr;</button>
<div class="tldr-info"></div>
<slot />

<script is:inline>
  const fetchTldr = async () => {
    console.log("fetching tldr");
    const name = window.location.pathname.split("/").pop();
    const response = await fetch(
      `https://nucleus-tldr.nucleus-c3a.workers.dev/?component=${name}`,
    );

    if (response.ok) {
      const reader = response.body.getReader();
      const stream = new ReadableStream({
        start(controller) {
          const pump = () => {
            return reader.read().then(({ done, value }) => {
              if (done) {
                controller.close();
                return;
              }
              controller.enqueue(value);
              return pump();
            });
          };
          return pump();
        },
      });

      const tldrInfo = document.querySelector(".tldr-info");
      const readerStream = stream
        .pipeThrough(new TextDecoderStream())
        .getReader();
      const pump = () => {
        return readerStream.read().then(({ done, value }) => {
          if (done) {
            return;
          }

          value = JSON.parse(value.split("data: ")[1]).response;

          if (value === "\n") {
            value = "</p><p>";
          }

          if (tldrInfo.innerHTML === "") {
            value = "<p>" + value;
          }

          tldrInfo.innerHTML += value;
          return pump();
        });
      };
      return pump();
    }
  };

  const btn = document.querySelector(".spark");
  btn.addEventListener("click", fetchTldr);
</script>
