---
const { name } = Astro.props;

import cem from "@connectedhomes/nucleus/custom-elements.json";
const compDetails = cem.tags.find((tag) => tag.name === name);
---

<div class="purpose">
  <p>{compDetails?.description}</p>
</div>
