---
const {
    lang = 'html',
    themes= ['github-dark', 'github-light']
} = Astro.props;
const slotContent = await Astro.slots.render('template').then((value) => value);

import { Code } from 'astro:components';
---
<div class="code-actions">
  <button id="copyCode">Copy</button>
</div>
<Code code={slotContent} lang={lang} wrap/>
<script>
  const button = document.getElementById('copyCode');
  button?.addEventListener('click', (event) => {
    const target = event.target;
    navigator.clipboard.writeText(document.getElementsByClassName('code')[0].textContent ?? '');
    target.textContent = 'Copied!';

    setTimeout(() => {
      target.textContent = 'Copy';
    }, 1000);
  });
</script>
