---
import { primaryColors, secondaryColors, greyscaleColors, systemColors } from "./tokens";
import Color from './color.astro';
const { colors } = Astro.props;
---

<div class="ns-colors">
  <slot />
  <div class="ns-card-grid">
    {
      colors.map(([key, value], i) => 
        <Color name={key.substring(key.lastIndexOf('_') + 1, key.length)} value={value} />
      )
    }
  </div>
</div>

<style>
  .ns-card-grid {
    display: grid;
    gap: 1rem;
  }

  .ns-card-grid > :global(*) {
		margin-top: 0 !important;
	}

  @media (min-width: 50rem) {
		.ns-card-grid {
			grid-template-columns: 1fr 1fr;
			gap: 1.5rem;
		}
  }
  @media (min-width: 70rem) {
		.ns-card-grid {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 2rem;
		}
  }
</style>