---
import { primaryColors, secondaryColors, greyscaleColors, systemColors } from "./tokens";
---
<style>
  .colors {
    td {
      border: 2px solid currentColor;
    }
  }
</style>
<h2>Colors</h2>
<table class="colors">
  <h3>Primary</h3>
{
  primaryColors().map(([key, value], i) => {
    return (
      <tr>
        <td>{key.replace('COLOR_PRIMARY_', '')}</td>
        <td>{value}</td>
      </tr>
    );
  })
}
</table>

<table class="colors">
  <h3>Secondary</h3>
{
  secondaryColors().map(([key, value], i) => {
    return (
      <tr>
        <td>{key.replace('COLOR_SECONDARY_', '').replace(/[a-z]/, (g) => g.toLowerCase())}</td>
        <td>{value}</td>
      </tr>
    );
  })
}
</table>

<table class="colors">
  <h3>Greyscale</h3>
{
  greyscaleColors().map(([key, value], i) => {
    return (
      <tr>
        <td>{key.replace('COLOR_GREYSCALE_', '').replace(/[a-z]/, (g) => g.toLowerCase())}</td>
        <td>{value}</td>
      </tr>
    );
  })
}
</table>

<table class="colors">
  <h3>System</h3>
{
  systemColors().map(([key, value], i) => {
    return (
      <tr>
        <td>{key.replace('COLOR_SYSTEM_', '').replace(/[a-z]/, (g) => g.toLowerCase())}</td>
        <td>{value}</td>
      </tr>
    );
  })
}
</table>