---
import CodeSnippet from './code-snippet.astro';
import ExampleRenderer from './ExampleRenderer.astro';
---

<ExampleRenderer>
  <slot name="template" slot="template"/>
</ExampleRenderer>
  
  <CodeSnippet>
    <slot name="template" slot="template"/>
  </CodeSnippet>
</div>
