---
const { name } = Astro.props;
const nestedElements = name.split(' > ');
---

{
  nestedElements && (
    nestedElements?.reverse().map((element, index) => {
      return (
        <span>
          {
            (index > 0) && (<span> wrapped in </span>)
          }
          {
            element?.startsWith('ns') ? (
            <a href=`/components/${element}`><code>&lt;{element}&gt;</code></a>
            ) : (
            <code>&lt;{element}&gt;</code>
            )
          }
        </span>
      )
    })
  )
}
