---
import { blogPosts } from '@scripts/blog';
import NucleusBlogPostCard from './NucleusBlogPostCard.astro';

const posts = await blogPosts();
---
<div class="blog-posts not-content">
  <NucleusBlogPostCard  blogPost={posts[1]}/>
  <NucleusBlogPostCard  blogPost={posts[3]}/>
  <NucleusBlogPostCard  blogPost={posts[5]}/>
  <NucleusBlogPostCard  blogPost={posts[7]}/>
</div>

<style>
  .blog-posts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
</style>