<p>Want to get more involved with Nucleus Docs? <a href="#!">Learn how to contribute</a>.</p>

<style>
  p {
    margin-block-end: 1rem;
  }

  a {
    color: var(--sl-color-gray-3);
  }

  a:hover {
    color: var(--sl-color-white);
  }
</style>
