---
import type { Props } from "@astrojs/starlight/props";
import Default from '@astrojs/starlight/components/PageTitle.astro';
---

<Default {...Astro.props}></Default>

<div>
  <a href="#_top">Overview</a>
  <a href="#guidance">Guidance</a>
  <a href="#implementation">Implementation</a>
</div>

