---
const { name } = Astro.props;
---

<div class="related-links">
  <p>This page covers most of the ways you can use <code>{name}</code>. Please reach out to us if you are unsure about a potential use. Here are some useful links to related content:</p>
  <slot />
</div>
