---
interface Props {
  title: string;
  body: string;
  href: string;
}
const { href, title } = Astro.props;
---
<div class="signpost">
  <a href={href}>
    <h2>{title}</h2>
    <p><slot /></p>
  </a>
</div>
<style>
  .signpost {
    >a {}

    h2 {}

    p {}

    :is(:hover, :focus-within) {
      background-position: 0;
      background-image: var(--accent-gradient);
    }

    :is(:hover, :focus-within) h2 {
      color: rgb(var(--accent-light));
    }
  }
</style>