---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/TableOfContents.astro';
---

<Default {...Astro.props}><slot /></Default>

<starlight-toc data-min-h={3} data-max-h={2}>
  <nav aria-labelledby="sidebar-contribute">
    <br>
    <h2 id="sidebar-contribute">Contribute</h2>
    <ul>
      <li><a href="#!">Edit this page</a></li>
      <li><a href="#!">Feedback</a></li>
    </ul>
  </nav>
</starlight-toc>

<starlight-toc data-min-h={3} data-max-h={2}>
  <nav aria-labelledby="sidebar-community">
    <br>
    <h2 id="sidebar-community">Community</h2>
    <ul>
      <li><a href="/community/contribute-to-nucleus/">Contribute to Nucleus</a></li>
      <li><a href="/community/working-agreement/">Working agreement</a></li>
    </ul>
  </nav>
</starlight-toc>

<style>
  ul {
    padding: 0;
    list-style: none;
  }
  a {
    display: block;
    border-radius: 0.25rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    line-height: 1.25;
  }
  a[aria-current='true'],
  a[aria-current='true']:hover,
  a[aria-current='true']:focus {
    font-weight: 600;
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
  }
</style>
