---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/TableOfContents.astro';
---

<Default {...Astro.props}><slot /></Default>

<starlight-toc data-min-h={3} data-max-h={2}>
  <nav aria-labelledby="starlight__on-this-page">
    <h2 id="starlight__on-this-page">Contribute</h2>
    <ul>
      <li>
        <a href="#!">
          A contribute link
        </a>
      </li>
    </ul>
  </nav>
</starlight-toc>

<starlight-toc data-min-h={3} data-max-h={2}>
  <nav aria-labelledby="starlight__on-this-page">
    <h2 id="starlight__on-this-page">Community</h2>
    <ul>
      <li>
        <a href="#!">
          A community link
        </a>
      </li>
    </ul>
  </nav>
</starlight-toc>

<style>
  ul {
    padding: 0;
    list-style: none;
  }
  a {
    display: block;
    border-radius: 0.25rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    line-height: 1.25;
  }
  a[aria-current='true'],
  a[aria-current='true']:hover,
  a[aria-current='true']:focus {
    font-weight: 600;
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
  }
</style>
