---


---

<script>
  const viewports = document.querySelectorAll('input[name="viewport"]');
    viewports?.forEach((viewport) => {
      viewport.addEventListener('change', (event) => {
        console.log('viewport changed ', event.target);
        const componentRenderer = document.querySelector('example-view');
        componentRenderer.viewport = event.target.value;
      });
    });

</script>

<div class="viewports">
  <input type="radio" name="viewport" id="mobile-viewport" value="mobile">
  <label for="mobile-viewport">Mobile</label>
  <input type="radio" name="viewport" id="desktop-viewport" value="desktop" checked>
  <label for="desktop-viewport">Desktop</label>
</div>