---
const { name } = Astro.props;

import cem from '@connectedhomes/nucleus/custom-elements.json';
import { ExampleView } from './ce/example-view';

const compDetails = cem.tags.find((tag) => tag.name === name);
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.9/beautify-html.js"></script>

<p>{compDetails?.description}</p>

<ExampleView client:visible>
  <slot name="template"/>
</ExampleView>



<slot />