---
const { name } = Astro.props;

import cem from '@connectedhomes/nucleus/custom-elements.json';
import ExampleViewer from './example-viewer.astro';
import CodeSnippet from './code-snippet.astro';
const compDetails = cem.tags.find((tag) => tag.name === name);
---

<p>{compDetails?.description}</p>

<ExampleViewer>
  <slot name="template" slot="template"/>
</ExampleViewer>

<slot />