/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
} */

:root {
  --ifm-color-primary: #005EB8;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.storybook-embed {
  margin: 0 0 var(--ifm-paragraph-margin-bottom);
}

.storybook-embed iframe {
  display: block;
  width: 100%;
  min-height: 544px;
  height: auto;
  border: 12px solid #4d4d4d;
  resize: both;
  background: #ffffff;
  overflow: auto;
  position: relative;
  border-radius: var(--ifm-global-radius);
  z-index: calc(var(--ifm-z-index-fixed) - 1);
}

.storybook-embed.page iframe {
  width: auto;
  border-top-width: 64px;
  border-bottom-width: 64px;
  min-width: 399px;
  min-height: 795px;
  border-radius: 50px;
}

.colour-pallete {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
}

.colour-pallete .swatch {
  width: 100%;
  height: 88px;
  display: block;
  border-radius: 16px 16px 16px 0;
  margin-bottom: 8px;
  box-shadow: 0 8px 16px 0 #C8C9C7;
}

.colour-pallete dt {
  font-family: 'Centrica Stabil Grotesk Medium', sans-serif;
}

.colour-pallete dd {
  margin: 0;
}