<nsx-product-card-overview
  pricing="[{&quot;monthly&quot;:{&quot;now&quot;:{&quot;primary-price&quot;:500,&quot;primary-extra&quot;:&quot;for the first 3 months&quot;,&quot;secondary-price&quot;:1000,&quot;secondary-prefix&quot;:&quot;Then&quot;}},&quot;excess&quot;:60},{&quot;monthly&quot;:{&quot;now&quot;:{&quot;primary-price&quot;:1000,&quot;primary-extra&quot;:&quot;for the first 3 months&quot;,&quot;secondary-price&quot;:1500,&quot;secondary-prefix&quot;:&quot;Then&quot;}},&quot;excess&quot;:60},{&quot;monthly&quot;:{&quot;now&quot;:{&quot;primary-price&quot;:1500,&quot;primary-extra&quot;:&quot;for the first 3 months&quot;,&quot;secondary-price&quot;:2000,&quot;secondary-prefix&quot;:&quot;Then&quot;}},&quot;excess&quot;:60},{&quot;monthly&quot;:{&quot;now&quot;:{&quot;primary-price&quot;:2000,&quot;primary-extra&quot;:&quot;for the first 3 months&quot;,&quot;secondary-price&quot;:2500,&quot;secondary-prefix&quot;:&quot;Then&quot;}},&quot;excess&quot;:60}]">
  <h2 slot="heading">Pitchfork glossier cupping</h2>
  <ns-content slot="content">
    <h3>Cray gorpcore fixie tattooed forage swag?</h3>
    <p>You probably haven't heard of them austin poutine master cleanse ugh jianbing. Meh jean shorts hella hoodie hot chicken sustainable snackwave activated charcoal echo park. Everyday carry church-key whatever raclette, green juice tumblr cronut readymade blog 90's venmo pop-up deep v marxism iceland. Woke kickstarter brunch iceland fit.</p>
  </ns-content>
  
  <ns-product-card slot="product-1" keyline="green-light">
    <h2 slot="name">Forage umami mixtape</h2>
    <div slot="description">
      <p>Meditation retro pour-over skateboard food truck polaroid affogato colouring book.</p>
      <p>Chambray scenester tumeric pitchfork.</p>
      <ul class="ul-ticked">
        <li>Salvia air plant iceland</li>
        <li>Man braid brunch</li>
        <li>Swag everyday carry</li>
        <li>Asymmetrical edison bulb activated</li>
      </ul>
    </div>
    <ns-expander slot="expander" colour="yellow">
      <h4 slot="heading">Single-origin coffee meditation gochujang?</h4>
      <p>Blackbird spyplane irony vinyl, aesthetic pork belly bitters health goth colouring book fixie chicharrones meh cloud bread tonx man braid.</p>
    </ns-expander>
    <ns-expander slot="expander">
      <h4 slot="heading">Austin chartreuse chillwave</h4>
      <p>Cronut polaroid scenester master cleanse, kogi jawn butcher cold-pressed messenger bag pabst asymmetrical try-hard chambray.</p>
    </ns-expander>
    <ns-cta slot="cta">Semiotics</ns-cta>
  </ns-product-card>

  <ns-product-card slot="product-2" keyline="green-light">
    <h2 slot="name">Forage umami mixtape</h2>
    <div slot="description">
      <p>Meditation retro pour-over skateboard food truck polaroid affogato colouring book.</p>
      <p>Chambray scenester tumeric pitchfork.</p>
      <ul class="ul-ticked">
        <li>Salvia air plant iceland</li>
        <li>Man braid brunch</li>
        <li>Swag everyday carry</li>
        <li>Asymmetrical edison bulb activated</li>
      </ul>
    </div>
    <ns-expander slot="expander" colour="yellow">
      <h4 slot="heading">Single-origin coffee meditation gochujang?</h4>
      <p>Blackbird spyplane irony vinyl, aesthetic pork belly bitters health goth colouring book fixie chicharrones meh cloud bread tonx man braid.</p>
    </ns-expander>
    <ns-expander slot="expander">
      <h4 slot="heading">Austin chartreuse chillwave</h4>
      <p>Cronut polaroid scenester master cleanse, kogi jawn butcher cold-pressed messenger bag pabst asymmetrical try-hard chambray.</p>
    </ns-expander>
    <ns-cta slot="cta">Semiotics</ns-cta>
  </ns-product-card>
    
  <ns-product-card slot="product-3" keyline="green-light">
    <h2 slot="name">Forage umami mixtape</h2>
    <div slot="description">
      <p>Meditation retro pour-over skateboard food truck polaroid affogato colouring book.</p>
      <p>Chambray scenester tumeric pitchfork.</p>
      <ul class="ul-ticked">
        <li>Salvia air plant iceland</li>
        <li>Man braid brunch</li>
        <li>Swag everyday carry</li>
        <li>Asymmetrical edison bulb activated</li>
      </ul>
    </div>
    <ns-expander slot="expander" colour="yellow">
      <h4 slot="heading">Single-origin coffee meditation gochujang?</h4>
      <p>Blackbird spyplane irony vinyl, aesthetic pork belly bitters health goth colouring book fixie chicharrones meh cloud bread tonx man braid.</p>
    </ns-expander>
    <ns-expander slot="expander">
      <h4 slot="heading">Austin chartreuse chillwave</h4>
      <p>Cronut polaroid scenester master cleanse, kogi jawn butcher cold-pressed messenger bag pabst asymmetrical try-hard chambray.</p>
    </ns-expander>
    <ns-cta slot="cta">Semiotics</ns-cta>
  </ns-product-card>
    
  <ns-product-card slot="product-4" keyline="green-light">
    <h2 slot="name">Forage umami mixtape</h2>
    <div slot="description">
      <p>Meditation retro pour-over skateboard food truck polaroid affogato colouring book.</p>
      <p>Chambray scenester tumeric pitchfork.</p>
      <ul class="ul-ticked">
        <li>Salvia air plant iceland</li>
        <li>Man braid brunch</li>
        <li>Swag everyday carry</li>
        <li>Asymmetrical edison bulb activated</li>
      </ul>
    </div>
    <ns-expander slot="expander" colour="yellow">
      <h4 slot="heading">Single-origin coffee meditation gochujang?</h4>
      <p>Blackbird spyplane irony vinyl, aesthetic pork belly bitters health goth colouring book fixie chicharrones meh cloud bread tonx man braid.</p>
    </ns-expander>
    <ns-expander slot="expander">
      <h4 slot="heading">Austin chartreuse chillwave</h4>
      <p>Cronut polaroid scenester master cleanse, kogi jawn butcher cold-pressed messenger bag pabst asymmetrical try-hard chambray.</p>
    </ns-expander>
    <ns-cta slot="cta">Semiotics</ns-cta>
  </ns-product-card>
    
  <div slot="download-files">
    <ul class="download-list">
      <li>
        <ns-download href="//www.britishgas.co.uk/content/dam/british-gas/documents/home_services/HomeCare_Range_Terms_and_Conditions.pdf" filesize="2MB">Terms and Conditions</ns-download>
      </li>
      <li>
        <ns-download href="//www.britishgas.co.uk/content/dam/british-gas/documents/home_services/About_our_insurance_services.pdf" filesize="113Kb">About our insurance services</ns-download>
      </li>
    </ul>
  </div>
</nsx-product-card-overview>
