<nsx-product-card-overview pricing="[{&quot;monthly&quot;:1200,&quot;excess&quot;:60},{&quot;monthly&quot;:1400,&quot;excess&quot;:0},{&quot;annually&quot;:17550,&quot;excess&quot;:60}]">
  <h2 slot="heading">Our HomeCare packages</h2>
  <ns-content slot="content">
    <h3>Why choose HomeCare?</h3>
    <p>One of our friendly, expert engineers will pop in to make sure everything's in tip-top condition once a year, alongside your cover to protect you against any unwanted surprises.</p>
  </ns-content>
  
      <ns-product-card keyline="green-light" slot="product-1">
        <h2 slot="name">HomeCare One</h2>
        <div slot="description">
          <p>This product is great because blah blah blah</p>
          <p>Plus you'll get all of this:</p>
          <ul class="ul-ticked">
            <li>Feature 1</li>
            <li>Feature 2</li>
          </ul>
        </div>
        <ns-expander slot="expander">
          <h3 slot="heading">Expander</h3>
          <p>Expander details</p>
        </ns-expander>
        <ns-expander slot="expander">
          <h3 slot="heading">Expander</h3>
          <p>Expander details</p>
        </ns-expander>
        <ns-cta href="#" slot="cta">Get HomeCare One Cover</ns-cta>
      </ns-product-card>
    
      <ns-product-card keyline="green-light" slot="product-2">
        <h2 slot="name">HomeCare One</h2>
        <div slot="description">
          <p>This product is great because blah blah blah</p>
          <p>Plus you'll get all of this:</p>
          <ul class="ul-ticked">
            <li>Feature 1</li>
            <li>Feature 2</li>
          </ul>
        </div>
        <ns-expander slot="expander">
          <h3 slot="heading">Expander</h3>
          <p>Expander details</p>
        </ns-expander>
        <ns-expander slot="expander">
          <h3 slot="heading">Expander</h3>
          <p>Expander details</p>
        </ns-expander>
        <ns-cta href="#" slot="cta">Get HomeCare One Cover</ns-cta>
      </ns-product-card>
    
      <ns-product-card keyline="green-light" slot="product-3">
        <h2 slot="name">HomeCare One</h2>
        <div slot="description">
          <p>This product is great because blah blah blah</p>
          <p>Plus you'll get all of this:</p>
          <ul class="ul-ticked">
            <li>Feature 1</li>
            <li>Feature 2</li>
          </ul>
        </div>
        <ns-expander slot="expander">
          <h3 slot="heading">Expander</h3>
          <p>Expander details</p>
        </ns-expander>
        <ns-expander slot="expander">
          <h3 slot="heading">Expander</h3>
          <p>Expander details</p>
        </ns-expander>
        <ns-cta href="#" slot="cta">Get HomeCare One Cover</ns-cta>
      </ns-product-card>
    
  <div slot="download-files">
    <ul class="download-list">
      <li>
        <ns-download href="//www.britishgas.co.uk/content/dam/british-gas/documents/home_services/HomeCare_Range_Terms_and_Conditions.pdf" filesize="2MB">Terms and Conditions</ns-download>
      </li>
      <li>
        <ns-download href="//www.britishgas.co.uk/content/dam/british-gas/documents/home_services/About_our_insurance_services.pdf" filesize="113Kb">About our insurance services</ns-download>
      </li>
    </ul>
  </div>
</nsx-product-card-overview>
