<ns-editorial image="/placeholder-16x9-640x360px.webp" ratio="16 / 9">
  <h2 slot="heading">Typewriter seitan chartreuse mustache</h2>
  <p>Cornhole woke literally <strong>aesthetic tacos</strong> raclette. Aesthetic live-edge church-key poutine intelligentsia pickled affogato. Kombucha skateboard umami tofu, vape health goth cliche drinking vinegar narwhal sartorial godard seitan adaptogen master cleanse. Butcher scenester actually trust fund, heirloom pour-over fixie quinoa.</p>
  <h3>Wayfarers taxidermy shabby chic heirloom</h3>
  <p>Polaroid actually neutra readymade. Glossier <strong>hot chicken literally</strong> vegan, hoodie artisan gentrify bespoke vinyl. Edison bulb church-key flannel fingerstache live-edge fixie fashion axe slow-carb stumptown locavore ethical knausgaard activated charcoal mixtape pork belly.</p>
</ns-editorial>
