<ns-product-card type="horizontal" decoration="savings" keyline="forest" show-more="{&quot;open-label&quot;:&quot;Mushroom on toast&quot;, &quot;close-label&quot;:&quot;Mushroom soup&quot;, &quot;open&quot;:false}">
  <ns-image slot="image" ratio="1 / 1" src="/placeholder-1x1-640x640px.webp"></ns-image>
  <h2 slot="name">Forage umami mixtape</h2>
  <ns-pill slot="pill" colour="yellow" icon="boiler">Ascot bruh</ns-pill>
  <h3 slot="price-heading">Braid swag edison bulb</h3>
  <div slot="price">
    <p><ns-price pence="1200" slot="price"></ns-price> air plant</p>
  </div>
  <div slot="description">
    <p>Meditation retro pour-over skateboard food truck polaroid affogato coloring book.</p>
    <p>Chambray scenester tumeric pitchfork.</p>
    <ul class="ul-ticked">
      <li>Salvia air plant iceland</li>
      <li>Man braid brunch</li>
      <li>Swag everyday carry</li>
    </ul>
  </div>
  <ns-cta slot="cta">Highpoint</ns-cta>
  <div slot="details">
    <h3>Everyday burnt toast</h3>
    <p>Chambray scenester tumeric pitchfork.</p>
    <ns-column auto>
      <div>
        <h4>Skateboard ramp</h4>
        <dl class="dl-row">
          <div>
            <dt>Wayfarers</dt>
            <dd>Snackwave tilde bottle</dd>
          </div>
          <div>
            <dt>Echo park</dt>
            <dd>Bag keffiyeh twee iPhone</dd>
          </div>
        </dl>
      </div>
      <div>
        <h4>Disrupt gel</h4>
        <dl class="dl-row">
          <div>
            <dt>Wayfarers</dt>
            <dd>Snackwave tilde bottle</dd>
          </div>
          <div>
            <dt>Echo park</dt>
            <dd>Bag keffiyeh twee iPhone</dd>
          </div>
        </dl>
      </div>
    </ns-column>
  </div>
</ns-product-card>
