<ns-product-card>
  <ns-image slot="image" src="https://www.britishgas.co.uk/aem6/content/dam/britishgas/images/ns/image16_9.png"></ns-image>
  <h2 slot="name">Forage umami mixtape</h2>
  <h3 slot="price-heading">Edison</h3>
  <p slot="price">
    <ns-price pence="1000"></ns-price> put a bird
  </p>
  <div slot="description">
    <p>Meditation retro pour-over skateboard food truck polaroid affogato coloring book.</p>
    <p>Chambray scenester tumeric pitchfork.</p>
    <ul class="ul-ticked">
      <li>Salvia air plant iceland</li>
      <li>Man braid brunch</li>
      <li>Swag everyday carry</li>
      <li>Asymmetrical edison bulb activated</li>
    </ul>
  </div>
  <ns-expander slot="expander" colour="yellow">
    <h4 slot="heading">Single-origin coffee meditation gochujang?</h4>
    <p>Blackbird spyplane irony vinyl, aesthetic pork belly bitters health goth coloring book fixie chicharrones meh cloud bread tonx man braid.</p>
  </ns-expander>
  <ns-expander slot="expander">
    <h4 slot="heading">Austin chartreuse chillwave</h4>
    <p>Cronut polaroid scenester master cleanse, kogi jawn butcher cold-pressed messenger bag pabst asymmetrical try-hard chambray.</p>
  </ns-expander>
  <ns-cta slot="cta">Semiotics</ns-cta>
</ns-product-card>
