<ns-scroller>
  <ns-image src="https://nucleus.design/placeholder-4x3-480x360px.webp"></ns-image>
  <ns-image src="https://nucleus.design/placeholder-4x3-480x360px.webp"></ns-image>
  <ns-image src="https://nucleus.design/placeholder-4x3-480x360px.webp"></ns-image>
  <ns-image src="https://nucleus.design/placeholder-4x3-480x360px.webp"></ns-image>
  <ns-image src="https://nucleus.design/placeholder-4x3-480x360px.webp"></ns-image>
  <ns-image src="https://nucleus.design/placeholder-4x3-480x360px.webp"></ns-image>
  <ns-image src="https://nucleus.design/placeholder-4x3-480x360px.webp"></ns-image>
</ns-scroller>